{
  "extends": "@istanbuljs/nyc-config-typescript",
  "exclude": [
    "coverage/**",
    "docs/**",
    "app/test/**",
    "_archive/**",
    "_testData/**",
    "node_modules/**"
  ],
  "reporter": [
    "lcov",
    "text"
  ]
}