<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Examples</a></li>
        <li><a href="/versions">Blog</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:andy.schulz@test-steps.de">email</a></li>
        <li><a href="https://github.com/andy_schulz">github.com/andy_schulz</a></li>
    </ul>
</footer>
</body>
</html>